<h1>Сокращение ссылки</h1>

<%= form_with(model: @url, url: urls_path, method: :post) do |form| %>
  <div>
    <%= form.label :original_url %>
    <br>
    <%= form.text_field :original_url, required: true, title: 'Введите ссылку в формате http(s)://...' %>
  </div>

  <br><br>
  <div>
    <%= form.submit 'Сократить' %>
  </div>
<% end %>
